/* Header Css */

ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    text-align: right;
  }
  
ul li {
    display: inline-block;
    margin-left: 70px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 10px 90px;
  }
 
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: right; 
  }
  
  .nav li {
    margin-left: 10px;
  }
  .signup {
    padding: 15px 30px; 
    position: relative;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px; 
    position: right;
    font-size: 15px;
  }
 

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    padding: 10px 20px;
    text-align: center;
}
.nav {
    display: inline-block;
    margin-left: 20px;
}

  body {
    padding: 50px;
  } 
  
 .fashion {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
  
  /*This is the first part to the html, it has the nav and shop now button */
.banner{
    height: 55vh;
    background-color: #F4F6F5;
}
  .girl {
    position: absolute;
    /* bottom: calc(55vh - 148px); */
    right: 0px;
    
}
/* banner css */

 
/* mobile mockup */

